@import "tailwindcss";
@font-face {
  font-family: "SlasherFilm";
  src: url("/slasher-film-font/SlasherFilmRoughExpanded-WyGjO.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
