---
import BaseLayout from "@/components/layout/BaseLayout.astro";
import Navbar from "@/components/layout/Navbar.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import PlaceholderSections from "@/components/sections/PlaceholderSections.astro";
---

<BaseLayout>
  <Navbar />

  <main>
    <HeroSection />
    <PlaceholderSections />
  </main>
</BaseLayout>
